body{
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(0, 0, 0, 0.867);
}
.logo {
  font-weight: bolder;
  text-decoration:none;
  background-color: chartreuse;
  font-size: 36px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo a{
	text-decoration:none;
}
#full{
	width:100%;
	position:absolute;
	color:white;
	height:1700px;
	background:url("../Gallery/Movies/Back to the future/12.jpg");
}
#full h1{
	font-size:70px;
	-webkit-text-stroke: 2px black;
}
#full p{
	font-size:50px;
	-webkit-text-stroke: 0.2px black;
}
#gallery_head{
	margin-top:3px;
	margin-top:1700px;
	background-color:chartreuse;
	width:100%;
	height:44px;
	font-size:38px;
	color:white;
	-webkit-text-stroke: 0.7px black;
}
#gallery img{
	width:49.7%;
	height:49.7%;
	padding:2px;
}
